body {
    margin: 0;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
}

#loading {
    background: #111;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
}

.center {
    position: absolute;
    width: 160px;
    height: 40px;
    top: 50%;
    left: 50%;
    margin-left: -80px;
    margin-top: -20px;
    color: #ddd;
    font-size: 32px;
}

.elipsis {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis 2s infinite;
    -moz-animation: ellipsis 2s infinite;
}

@-webkit-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 24px;
    }
}
@-moz-keyframes ellipsis {
    from {
        width: 2px;
    }
    to {
        width: 24px;
    }
}

.hide {
    position: fixed;
    display: none;
}

.uiContainer {
    position: fixed;
    width: 100%;

    /* Don't steal events from the canvas. */
    pointer-events: none;
}

.menu {
    /* Accept events that the parent div ignores. */
    pointer-events: auto;
}

input[type="range"] {
    -webkit-appearance: none !important;
    height: 6px;
    margin: 8px 0px;
    border-radius: 2px;

    background: -moz-linear-gradient(top, #000 0%, #888 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #000 0%, #888 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #000 0%, #888 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #000 0%, #888 100%); /* IE10+ */
    background: linear-gradient(to bottom, #000 0%, #888 100%); /* W3C */
}

#popupBar {
    float: right;
}

#popupBar div {
    z-index: 20;
    margin: 8px;
    padding: 2px;
    width: 240px;
    border: 1px solid black;
    border-radius: 4px;

    background: -moz-linear-gradient(top, #eee 0%, #ccc 100%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #eee 0%, #ccc 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eee 0%, #ccc 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eee 0%, #ccc 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eee 0%, #ccc 100%); /* W3C */

    /* Accept events that the parent div ignores. */
    pointer-events: auto;
}

#popupBar h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 4px;
    margin-bottom: 0px;
    border-bottom: 2px solid black;
    cursor: pointer;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#popupBar div table {
    width: 100%;
}

#popupBar div table tr th {
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
}

.popupToggle {
    width: 100%;
    font-size: 8px;
}

.tableInput {
    width: 100%;
}

#speedPopup table tr th {
    width: 50%;
}
